body {
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rectangle {
  display: inline-block;
  margin: 0;
}

.initial {
  display: flex;
  width: 100%;
  margin: 0;
  height: 100vh;
}

.sidebar {
  display: flex;
  position: absolute;
  margin: 0; 
  width: 100%;
  height: 100vh;
}

.sidebarContent {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100vh;
}

/* parent container */
.websiteDisplay {
  display: block;
  align-items: center;
  align-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

/* C1 */
.react-typewriter-text-wrap{
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  height: 200px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-typewriter-text {
  text-align: center;
}

/* C2 */
.initialDisplay{
  position: relative;
  z-index: 0;
}


.FullView {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
}

/*Size down*/
.WebsiteContent {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0.9);
  z-index: 2;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}






