body {
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, a:visited { 
  text-decoration: none;
  color: black;
}

.rectangle, .roundedRectangle {
  display: inline-block;
  margin: 0;
}

.sidebar {
  display: flex;
  position: absolute;
  width: 15.3%;
  height: 100vh;
}

.optionsContainer {
  position: absolute;
  justify-content: left;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.sideBarOptions {
  display: flex;
  width: 100%;
  height: 100%;
}

.toggleOptions {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* parent container */
.websiteDisplay {
  display: block;
  align-items: center;
  align-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

/* C1 */
.react-typewriter-text-wrap{
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  height: 200px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-typewriter-text {
  text-align: center;
}

/* C2 */
.initialDisplay{
  display: flex;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.FullView {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
}

/*Size down*/
.WebsiteContent {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0.9);
  z-index: 2;
}

.background {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  margin: 15px;
  padding-top: 20px; 
}

.burgerMenu {
  position: absolute;
  align-content: left;
}

.burgerIcon {
  width: 100%;
  height: 100%;
}

.burgerMenu a {
  align-items: center;
  align-content: center;
  margin-top: 100%;
  opacity: 60%;
}

.burgerItems {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
}

/*Sidebar button*/
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 85%;
  height: 7%;
  padding-top: 5%;
  pointer-events: none;
}

.buttonContainer > * {
  pointer-events: auto;
}

.buttonText {
  position: absolute;
  margin: 0;
  pointer-events: none;
}

.buttonRect {
  position: absolute;
  left: 0;
  top: 0;
}

.buttonIcon {
  position: absolute;
  pointer-events: none;
  left: 0;
  padding-left: 10%;
  padding-top: 3%;

}

/*css for ContentBody*/

.contentBody {
  display: flex;
  margin-left: auto;
  width: 84.7%;
  height: 100vh;
}

.currentPageContent {
  position: absolute;
  width: 100%;
  height: 100%;
}

.initial {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
}

/* css for conditionally mounted contentBodies */

.Skills {
  box-sizing: border-box;
  padding: 5%;
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
}


/*Project Page*/
.Projects {
  box-sizing: border-box;
  padding: 5%;
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.projectBlock {
  width: 100%;
  height: 100%;
  margin-right: 1%;
}

.backgroundContainer {
  width: 100%;
  height: 100%;
}

/*Display for project Image*/
.smallContainer {
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 30%;
  position: relative;
  margin-bottom: 4%;
  justify-content: center;
  align-content: center;
}

.smallContainerContent {
  height: 100%;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  padding: 5%;
}

.smallContainer img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.bigContainer {
  width: 100%;
  height: 70%;
  overflow: hidden;
  display: flex;
  position: relative;
  margin-bottom: 4%;
  justify-content: center;
  align-content: center;
}

.bigContainerContent{
  height: 100%;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  padding: 5%;
}


/*About me page*/
.AboutMe {
  box-sizing: border-box;
  padding: 5%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.AboutMe h2, h3, h1, p{
  text-align: left;
  text-justify: inter-word;
  text-justify: auto;
}

.AboutMe h3 {
  margin-bottom: 5%;
}

.AboutMeText {
  text-justify: auto;
}

.profilePicture {
  width: 35%;
  display: flex;
  overflow: hidden;
  border-style: solid;
  border-color: white;
  border-width: 15%;
  border-width: 10%;
  border-radius: 50%;
  margin-right: 20px;
}

.profilePicture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


